@font-face {
    font-family: 'Old English Five';
    src: url('OldEnglishFive.woff2') format('woff2'),
        url('OldEnglishFive.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

